<div class="sidebar-nav navbar-collapse">
	<ul class="nav in" id="side-menu">
		<li>
			<a href="#"><i class="fa fw fa-th" aria-hidden="true"></i> Categories <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<li *ngFor="let c of categories">
					<a [routerLink]="['/view/category', c.id]">{{ c.name }}</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="fa fw fa-tag" aria-hidden="true"></i> Labels <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<li *ngFor="let l of labels">
					<a [routerLink]="['/view/label', l.id]">{{ l.name }}</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="fa fw fa-plus-circle" aria-hidden="true"></i> Create<span class="fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<li><a [routerLink]="['/new/expense']"> New expense</a></li>
				<li><a [routerLink]="['/new/category']"> New category</a></li>
				<li><a [routerLink]="['/new/label']"> New label</a></li>
			</ul>
		</li>
	</ul>
</div>