<div class="panel panel-default">
    <div class="panel-heading">
        <h4> Expenses</h4>
    </div>

    <div class="panel-body">
    	<div id="expense-buttons" style="margin-left: -3px">
          <button class="btn btn-primary btn-outline"
                  (click)="onClickNewExpense()">New</button>
          <button class="btn btn-danger btn-outline"
                  [disabled]="!expenseId"
                  (click)="onClickEditExpense()">Edit</button>
          <button class="btn btn-danger btn-outline"
                  [disabled]="!expenseId"
                  (click)="onClickDeleteExpense()">Delete</button>
        </div>

        <table id="expenseTable" datatable [dtOptions]="dtOptions" width="100%"
               class="table table-striped table-hover">
        </table>
    </div>
</div>