<app-spinner *ngIf="!dataReady"></app-spinner>
<div *ngIf="dataReady" id="label-details">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{label.name}} <small>(label)</small></h3>
                </div>
                <div class="panel-body view-details">
                    <table class="details">
                        <tr>
                            <td>Spent</td>
                            <td><b>{{spent}}</b><small>{{spentPercentage}}</small></td>
                        </tr>
                        <tr>
                            <td>Details </td>
                            <td>{{label.name}}
                                <span (click)="onClickEditLabel()">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3  style="visibility:hidden">Padding</h3>
                </div>
                <div class="panel-body">
                    <table class="details">
                        <tr>
                            <td>Size</td>
                            <td>{{size}} <small>{{sizePercentage}}</small></td>
                        </tr>
                        <tr>
                            <td>Time span</td>
                            <td>
                                <app-dropdown-selector [options]="selectorOptions"
                                    (selectEvent)="onSelectPeriod($event)">
                                </app-dropdown-selector>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="charts">
        <div class="col-lg-6" id="pieChart">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Share</h4>
                </div>
                <div [chart]="pieChart" class="panel-body chart-wrapper"></div>
            </div>
        </div>

        <div class="col-lg-6" id="columnChart">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Trends</h4>
                </div>
                <div [chart]="columnChart" class="panel-body chart-wrapper"></div>
            </div>
        </div>
    </div>

    <div class="row" id="expense-table">
        <div class="col-lg-12">
            <app-expense-table [entity]="label"></app-expense-table>
        </div>
    </div>

    <div class="row" id="edit-delete-label-buttons">
        <div class="col-lg-12">
            <button type="button" role="navigation" class="btn btn-danger btn-block" (click)="onClickDeleteLabel()">
                Delete label <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
    </div>

</div>