<app-spinner *ngIf="!dataReady"></app-spinner>
<div *ngIf="dataReady" id="category-details">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{category.name}}</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>Total spending </td>
                            <td style="text-align:right"><b>{{ totalSpentStr }}</b></td>
                        </tr>
                        <tr>
                            <td>Details </td>
                            <td style="text-align:right">
                                {{category.description}}
                                <span (click)="onClickEditCategory()">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="visibility:hidden">Invisible</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>Size</td>
                            <td style="text-align:right">{{category.expenses.length}} <small>{{percentage}}%</small>
                            </td>
                        </tr>
                        <tr>
                            <td>Show analytics for </td>
                            <td style="text-align:right">
                                <app-dropdown-selector [options]="selectorOptions"
                                    (selectEvent)="onSelectPeriod($event)">
                                </app-dropdown-selector>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="charts">
        <div class="col-lg-6" id="pieChart">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-muted"> Share</h4>
                </div>
                <div [chart]="pieChart" class="panel-body chart-wrapper"></div>
            </div>
        </div>

        <div class="col-lg-6" id="columnChart">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="text-muted pull-left">Trends</h4>
                </div>
                <div [chart]="columnChart" class="panel-body chart-wrapper"></div>
            </div>
        </div>
    </div>

    <div class="row" id="expense-table">
        <div class="col-lg-12">
            <app-expense-table [entity]="category"></app-expense-table>
        </div>
    </div>

    <div class="row" id="delete-category-button">
        <div class="col-lg-12">
            <button type="button" role="navigation" class="btn btn-danger btn-block" (click)="onClickDeleteCategory()">
                Delete category <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
    </div>

</div>