<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="row" *ngIf="showForm">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3> {{pageTitle}}</h3>
            </div>
            <div class="panel-body">
                <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
                    <div class="col-lg-6" id="left-column">
                        <div class="form-group" id="dateInput">
                            <label for="date">Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Expense date" ngx-mydatepicker
                                    name="createdOn" formControlName="createdOn" [options]="datepickerOptions"
                                    #dp="ngx-mydatepicker">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                        <i class="fa fa-calendar fa-fw"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" id="amountInput">
                            <label for="amount">Amount</label>
                            <input type="text" class="form-control" id="expenseValue" name="amount"
                                formControlName="amount" placeholder="0.00" autocomplete="off">
                            <p *ngIf="amount.dirty && amount.errors && amount.errors.nan" class="alert alert-danger">
                                {{amount.errors.nan}}
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select name="category" formControlName="category" class="form-control"
                                (change)="onSelectCategory($event)">
                                <option value="" disabled>Select category</option>
                                <option *ngFor="let category of account.categories" [selected]="category === selectedCategory">
                                    {{ category.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group" id="descriptionInput">
                            <label for="description">Details</label>
                            <textarea class="form-control" rows="1" name="description" formControlName="description"
                                placeholder="Details" autocomplete="on">
                            </textarea>
                            <p *ngIf="description.dirty && description.errors && description.errors.maxlength"
                                class="alert alert-danger">
                                Max 100 characters
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6" id="right-column">
                        <div class="form-group" *ngIf="account.labels.length > 0">
                            <label>Labels</label>
                            <app-radio-selector [options]="radioOptionsLabel" (click$)="onClickLabelOption($event)">
                            </app-radio-selector>
                        </div>
                    </div>
                    <div class="col-lg-12" id="save-button">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
                            {{submitFormButtonText}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>