<app-delete-entity-modal></app-delete-entity-modal>

<div id="sidebar" class="navbar-default sidebar" role="navigation">
    <div id="sidebar-menu">
        <div class="clearfix">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
                <a [routerLink]="['/']"> Thrifty</a>
            </span>
        </div>
        <app-sidebar></app-sidebar>
    </div>

    <div id="sidebar-footer">
        <small>ⓒ 2018 codecritique.org</small>
    </div>
</div>


<div id="image" style="display:none">
    <div id="overlay"></div>
</div>


<div id="page">
    <div id="page-content">
        <div class="container-fluid th-view">
            <div class="row">
                <div class="col-lg-12">
                    <app-notification></app-notification>
                </div>
            </div>
            <router-outlet (activate)="onActivateRoute()"></router-outlet>
        </div>
    </div>
</div>