label {
	display: inline-block;
	margin: 2px;
	color: white;
	font-weight: 400;
	line-height: 2;
	border-radius: 4px;
	padding: 1px 4px 1px 6px;
}

label.unchecked {
	background-color: rgba(0, 80, 80, 0.5);
}

label.checked {
   background-color: rgba(0, 80, 80, 0.7);
}

label:hover {
	cursor: pointer;
}

label span {
	user-select: none;
	margin: 0 3px;
}